html {
    caret-color: transparent;
    cursor: url(../images/iconHammer.png) 2 2, pointer;
}

@font-face {
    font-family: "laout";
    src: url('laout-beauty-font/LaoutBeautyPersonalUse-X3MjG.otf');
}

@font-face {
    font-family: "grid0";
    src: url('14-led-phattt-font/14LedPhatttHeavy-Bav3.ttf');
}

@font-face {
    font-family: "grid1";
    src: url('led-simple-st-font/LedSimpleSt-YL4o.ttf');
}

@keyframes slidein {
    from {
        background-position: 0px 300px;
    }

    30% {
        background-position: 0px -20px;
    }

    40% {
        background-position: 0px 0px;
    }

    70% {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 300px;
        ;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    padding: 10px;
    width: 306px;
}

#scoreContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 10px;
    width: 306px;
}


.box {
    border: solid 1px black;
    height: 100px;
    width: 100px;
    background: transparent;

}

.score {

    height: 45px;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.playerName {
    padding-left: 10px;
    font-family: grid0, Arial;
    width: 58%;
    line-height: 45px;
    font-size: 1.2em;
    background-color: black;
}

.playerScore {
    font-family: grid0, Arial;
    width: 38%;
    line-height: 45px;
    font-size: 3em;
    background-color: black;

}

.title {
    font-family: laout, Arial;
    font-size: 3em;
}

.showmole {
    background: transparent;
    background-image: url('../images/mole.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px green;
    animation: slidein 0.8s cubic-bezier(0, 0, 0.58, 1.0);
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.cyan {
    color: cyan;
}